
.App {
    font-family: sans-serif;
    /* text-align: center; */
    /* max-width: 1400px; */
    display: grid;
    margin: 0 auto;
    /* place-content: center; */
 


}

 
/* users style */

.user-container {
  margin-top: 30px;
  img {
    height: 200px;
    aspect-ratio: 1/1;
    border-radius: 50%;
    object-fit: cover;
  }

  p {
    font-size: 24px;
  }

  span {
    font-weight: bold;
    font-style: italic;
  }
}

.user-list-container {
  display: grid;
  gap: 42px;
}

.counter-container{
  .buttons{
display: flex;
gap: 18px;
/* justify-content: center; */
  }
}
.add-movie-container{
display: flex;
  gap: 16px;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start;
  margin-top: 30px;
}

/* Movie List Style  */
.movieCounter-container{
  .buttons{
display: flex;
justify-content: start;
gap: 18px;
button{
  padding: 10px;
  width: 100px;
  font-size: 15px;
  border-radius: 5px;
}
/* justify-content: center; */
  }
}
.movie-list-container {
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start;
  margin-top: 30px;

  /* RAM */
  /* display: grid;
  grid-template-columns: repeat(auto-fit, minmax(380px, 1fr));
  justify-items: center;
  gap: 32px; */
}


/* ===================== */
  .movie-title{
    h1{
      font-size: 25px;
    }
    h2{
      font-size: 20px;

    }
  }


.movie{
  /* flex-shrink child properties */
   /* flex-shrink: 0;
    scroll-snap-align: center; */
    width: 280px;
    img{
      width: 100%;
      height: 500px;
      object-fit: cover;
      border-radius: 15px;
       /* box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px; */
       box-shadow: rgba(0, 0, 0, 0.571) 0px 5px 15px;
    }
    .movie-title{
        display: flex;
        justify-content: space-between;
        padding: 5px;
    }
    .show-summary{
      font-size: 18px;
      padding: 8px;
      border-radius: 5px;
      align-items: start;
      margin-bottom: 5px;
    }
    .view-details{
      font-size: 18px;
      padding: 8px;
      border-radius: 5px;
      align-items: start;
      margin-bottom: 5px;
      margin-left: 10px;
    }
    p{
       color: rgba(83, 81, 77, 0.916);
       text-align: left;
    }
    
}
.movie-detail-container{
max-width: 1400px;
margin: 0 10px;
}
.movie-specs{
  display: flex;
  gap: 90px;
}
.movie-detail-content-container {
  max-width: 60rem;
}

.add-movie-form{
  margin: 0 auto;
  margin-top: 40px;
  display: grid;
  gap: 20px;
  max-width: 1000px;
  justify-content: center;
  
  /* align-items: center; */
 > input{
  width: 500px;
    padding: 10px;
    font-size: 20px;
  }
  > button{
    width:530px ;
    padding: 10px;
    font-size: 20px;

  }
}